.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 80%; /* Ajusta el ancho máximo según tu diseño */
  max-height: 80%; /* Ajusta la altura máxima del modal */
  overflow: auto; /* Permite el scroll dentro del modal */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  animation: slide-down 0.3s ease-out;
  display: flex;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.close-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modal-body {
  flex: 1;
  margin-top: 10px;
  display: flex;
  padding-right: 20px; /* Espacio para los comentarios */
}

.modal-body img {
  max-width: 100%;
  height: auto;
  display: flex;
  margin: 10px 0;
}

.modal-content h2 {
  margin-top: 0;
}

.comentario {
  flex: 0 0 25%; /* Ajusta el ancho del div de comentarios, aquí es 25% */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 20px; /* Espacio entre contenido principal y comentarios */
}

.head-comentario label {
  display: block;
  margin-bottom: 10px;
}

.head-comentario input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

@keyframes slide-down {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
