
.blogs-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 40px;
    margin: 20px 0;
    padding: 10px;
  }
  h6{
    color: #ccc;
  }
  .blog-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 26px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(151, 190, 137);
  }
  
  .blog-card img {
    max-width: 100%;
    border-radius: 8px;
  }
  