

.blogs-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 40px;
  margin: 20px 0;
  padding: 10px;
  font-size: 85%
}

.blog-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 26px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255); 
  max-width: 500px;
}

.blog-card img {
  max-width: 100%;
  height: 180px;
  border-radius: 8px;
  margin-bottom: 20px;
}
p{
  display: flex;
 gap: 15px;
  padding: 0;
  margin:0;
  
}
.blog-card h3 {
  margin: 10px 0;
  color: #333;
}

.blog-card p {
  color: #666;
}

.btn-publicar {
  margin-top: auto;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-publicar:hover {
  background-color: #555;
}

.blog-card:hover {
  transition: 0.8s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.245);
}

h2 {
  color: #333;
  text-align: left;
}

h6 {
  color: #ccc;
}
.contenido {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.contenido img {
  max-width: 200px; 
  height: auto;
  border-radius: 10px; 
}

.contenido h1 {
  margin: 0;
}

.contenido p {
  margin: 0;
}

